:root {
  --color-primary: #FEDCD2;
  --color-primary-light: white;
  --color-secondary: #bfd8d2;
  --color-accent: #df744a;
  --color-accent-secondary: #dcb239;
  --font-primary: "Noto Sans JP", sans-serif;
}

html {
  font-family: var(--font-primary);
}
h1 {
  font-family: "Noto Sans JP", sans-serif:
  color: black;
  font-weight: bold;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: 300;
}

h3 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: normal;
}

h4 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: normal;
}

h5 {
  font-family: "Noto Sans JP", sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

h6 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: normal;
}

ul, ol {
  list-style-type: none;
  font-weight: 300;
}

li::before {
  display: none;
}

dt {
  font-weight: bold;
}

dd {
  font-weight: normal;
  font-style: ;
}

cite {
  font-weight: bold;
  font-style: normal;
}

blockquote {
  font-weight: 300;
  font-style: italic;
}

q {
  font-weight: bold;
}

a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

strong {
  color: var(--color-accent);
}

mark {
  background: var(--color-accent-secondary: #dcb239);
}

em {
  font-weight: 300;
}
