:root {
  --color-primary: #FEDCD2;
  --color-primary-light: white;
  --color-secondary: #bfd8d2;
  --color-accent: #df744a;
  --color-accent-secondary: #dcb239;
  --font-primary: "Noto Sans JP", sans-serif;
}

html {
  font-family: var(--font-primary);
}
h1 {
  font-family: "Noto Sans JP", sans-serif:
  color: black;
  font-weight: bold;
}

h2 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: 300;
}

h3 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: normal;
}

h4 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: normal;
}

h5 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: normal;
}

h6 {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  font-weight: normal;
}
