.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}

.number-form {
  width: 100px;
}

.color {
  background-color: #f8f8f8;
  border-color: #e0e0e0;
  border-radius: 3px;
}
