.long-card {
  border: 1px solid #E0E0E0;
  background-color: white;

}

.brder-check {
  background-color: white;
  padding-left: 1em;
}

.edit {
  padding-top: 1em;
  margin-bottom: 5px;
}

.mash {
  padding-top: 8px;
}
